body{
    background-image: url(photos/fd6.jpg);
}

.menu{
    background-image: url(photos/fd1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    padding: auto;
    border: 2px solid black;
}

.menu h1{
    margin: 10px;
    color: white;
    width: 5%;
}

.cuerpo{
    border: 4px solid black;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    background-image: url(photos/fd3.jpg);
    height: 500px;
}

.titulo{
    background-color: black;
    color: #B55EFE;
    width: 30%;
}


.estructura{
    display:flex;
    justify-content: left;
    align-items: center;
    font-size: larger;
}

#inputs{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

#tareasContainer{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    background-color: #B55EFE;
    border: 4px solid black;
    
}

footer{
    background-image: url(photos/fd1.jpg);
    border: 2px solid black;
    margin: 20px;
    text-align: center;
    height: 200px;
}